@{
    ViewBag.Title = "API Main Page";
}

<div class="jumbotron">
    <h1>EIRLSS DATA API</h1>
    <p class="lead">This application serves as the data collection element of EIRLSS Assignment 2</p>
</div>
