@using EIRLSS_Data_API.Common

@{
    ViewBag.Title = "Error";
}

@if (ViewBag.ErrorType == ErrorType.Account)
{
    <div class="alert alert-danger">
        <div class="row">
            <span class="fa fa-lock" style="color:darkgoldenrod; font-size:40px; margin-right:10px;"></span>
            <h3>Your account is prohibited from completing that action.</h3>
        </div>
        <hr />
        <h5>Please contact the garage for more information.</h5>
    </div>
}
@if (ViewBag.ErrorType == ErrorType.Authorisation)
{
    <div class="alert alert-danger">
        <div class="row">
            <span class="fa fa-key" style="color:darkgoldenrod; font-size:40px; margin-right:10px;"></span>
            <h3>You aren't authorised to complete that action.</h3>
        </div>
        <hr />
        <h5>Please contact the garage for more information.</h5>
    </div>
}
@if (ViewBag.ErrorType == ErrorType.HTTP)
{
    <div class="alert alert-danger">
        <div class="row">
            <span class="fa fa-exclamation-circle" style="color:red; font-size:40px; margin-right:10px;"></span>
            <h3>An error occurred</h3>
        </div>
        <hr />
        <h5>@ViewBag.Message</h5>
    </div>
}
@if (ViewBag.ErrorType == ErrorType.System)
{
    <div class="alert alert-danger">
        <div class="row">
            <span class="fa fa-exclamation-circle" style="color:red; font-size:40px; margin-right:10px;"></span>
            <h3>An error occurred</h3>
        </div>
        <hr />
        <h5>@ViewBag.Message</h5>
        <h4>Please report this to the system administrator.</h4>
    </div>
}
